@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.about {
    font-family: Poppins, sans-serif;
}

h1 {
    color: maroon;
}

li:hover {
    color: blue;
}

h3 {
    color: green;
}

.responsive {
    max-width: 100%;
    height: auto;
}

table {
    color: black;
}

h4.about {
    color: orange;
} 